body {
  font-family: Microsoft Yahei, "Helvetica Neue", Helvetica, Source Han Sans CN, WenQuanYi Micro Hei, Hiragino Sans GB, sans-serif;
  box-sizing:border-box;
  background-color: #ececec;
  color: #303646;
  font-size:14px;
}
*{
  box-sizing: inherit;
}
a,button{
  outline:none;
}

h1{
  font-size:25px;
}
h2{
  font-size:22px;
}
h3{
  font-size:20px;
}
h4{
  font-size:18px;
}
.p{
  font-size:16px;
}
small{
  font-size:12px;
}
